body {
	background-color: #fff;
	padding-top: 60px;
	padding-bottom: 40px;
	position: relative;
}

ul {
	list-style-type: none;
}

#main {
	padding-top: 20px;
}

#top-search {
	margin-right: 20px;
}

.search-panel {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.search-form .search-heading {
	margin-bottom: 10px;
}

.search-form input[type="text"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

.trace-modal{
	width: 800px;
}

.cursor {
	cursor: pointer;
}

.warning {
	color: red;
	margin-left: 8px;
	margin-top: 8px;
}

.page-header h1 {
	padding-top: 45px;
	margin-top: -45px;
	display: inline-block;
}

.page-header small {
	color: #336;
	font-size: 1.1em;
	font-weight: bold;
}

/* Sidenav for Docs
-------------------------------------------------- */
.bs-docs-sidenav {
	width: 288px;
	padding: 0;
}

.bs-docs-sidenav>li>a {
	display: block;
	width: 220px \9;
	margin: 0 0 -1px;
	padding: 8px 14px;
}

.bs-docs-sidenav>.active>a {
	position: relative;
	z-index: 2;
	padding: 9px 15px;
}

.bs-docs-sidenav>li>a:hover {
	background-color: #f5f5f5;
}

.bs-docs-sidenav.affix {
	top: 60px;
}

.bs-docs-sidenav.affix-bottom {
	position: absolute;
	top: auto;
	bottom: 270px;
}

/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media ( min-width : 1200px) {
	.bs-docs-sidenav {
		width: 258px;
	}
	.bs-docs-sidenav>li>a {
		width: 230px \9; /* Override the previous IE8-9 hack */
	}
}

/* Desktop
------------------------- */
@media ( max-width : 980px) {
	/* Unfloat brand */
	body>.navbar-fixed-top .brand {
		float: left;
		margin-left: 0;
		padding-left: 10px;
		padding-right: 10px;
	}

	/* When affixed, space properly */
	.bs-docs-sidenav {
		top: 0;
		width: 218px;
		margin-top: 30px;
		margin-right: 0;
	}
}


/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
  body {
    padding-top: 0;
  }
  /* Adjust sidenav width */
  .bs-docs-sidenav {
    width: 166px;
    margin-top: 20px;
  }
  .bs-docs-sidenav.affix {
    top: 0;
  }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  body {
    padding-top: 0;
  }

  .bs-docs-sidenav {
    width: auto;
    margin-bottom: 20px;
  }
  .bs-docs-sidenav.affix {
    position: static;
    width: auto;
    top: 0;
  }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  body {
    padding-top: 0;
  }

  h2 small {
    display: block;
  }

  /* Do our best to make tables work in narrow viewports */
  table code {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
  }
}